:root{
  --color1: #2e2b74;
  --color2: #ffffff;
  --color3: #a8a6cb;
  --color4: #ffb500;
  --color5: #d9d9d9;
  --color6: #000000;
  --color7: #eae9f9;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}

/* COMPONENTS */

/* --- buttons --- */

.btn-orange{
  background-color: var(--color4);
  border: none;
  padding: 10px 30px;
  border-radius: 15px;
  font-weight: 600;
  font-size: 1.1rem;
  margin: auto;
}

.btn-violet{
  background-color: var(--color3);
  border: none;
  padding: 10px 30px;
  border-radius: 15px;
  font-weight: 600;
  font-size: 1.1rem;
  margin: auto;
}

/* --- navbar --- */

header{
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-container {
  background-color: var(--color1);
  justify-content: space-between;
  display: flex;
  padding: 0 20px;
  height: 90px;
}

.navbar-container-logo{
  width: 20%;
  margin: 10px 0;
  display: flex;
}

.navbar-logo{
  width: 100%;
  display: flex;
  object-fit: contain;
}

.navbar-container-search{
  display: flex;
  margin: auto;
  justify-content: center;
  
}

.navbar-inputSearch{
  background-color: var(--color5);
  width: 100%;
  border: none;
  margin: auto;
  border-radius: 10px;
  padding: 9px 10px;
}

.navbar-inputSearch:focus{
  outline: none;
}

.navbar-inputSearch:focus + .navbar-inputSearch-icon{
  opacity: 0;
}

.navbar-inputSearch-icon{
  color: var(--color1);
  position: relative;
  display: flex;
  height: fit-content;
  width: fit-content;
  top: 10px;
  right: 30px;
  font-size: 1.2rem;
  transition: all 0.3s ease-in-out;
}

.navbar-container-links{
  width: 20%;
  display: flex;
  margin: auto;
  justify-content: center;
}

.navbar-link{
  text-decoration: none;
  color: var(--color2);
  margin: auto 10px;
  font-size: 1.4rem;
}

.navbar-cart{
  color: var(--color2);
  margin: auto;
  display: flex;
  font-size: 1.6rem;
}

.navbar-block{
  display: flex;
  background-color: var(--color3);
}

.navbar-sublink{
  text-decoration: none;
  color: var(--color2);
  font-weight: 600;
  margin: 0 0 0 3.5rem;
  font-size: 1.1rem;
}

.navbar-sublink:hover{
  color: var(--color1);
}

.navbar-listGenre{
  background-color: var(--color2);
  margin: 10px 20px;
  width: fit-content;
  border-radius: 10px;
  position: absolute;
}

.navbar-listGenre-item{
  font-weight: 400;
  padding: 5px 30px;
  cursor: pointer;
  margin: 10px auto;
}

.navbar-listGenre-item:hover{
  background-color: var(--color3);
  color: var(--color2);
}

/* navbar mobile */

.navbar-mobile-menu{
  height: fit-content;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px 0;
}

.navbar-mobile-sublink{
  text-decoration: none;
  color: var(--color2);
  margin: 10px auto;
  font-size: 2rem;
  font-weight: 500;
}

.navbar-mobile-genresMenu{
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  position: relative;
  color: var(--color4);
  font-weight: 500;
  font-size: 1.3rem;
}

/* --- banner --- */

.banner-container{
  position: relative;
}

.banner-title{
  position:absolute;
  display: flex;
  height: fit-content;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: var(--color1);
  font-size: 4rem;
  font-weight: 800;
  margin: auto;
  justify-content: center;
}

.banner-img{
  
}

/* --- card --- */

.card-info-container{
  text-align: center;
}

.card-img{
  display: flex;
  margin: auto;
  object-fit: contain;
  height: 330px;
}

.card-title{
  margin: 5px auto;
}

.card-author{
  margin: 5px auto;
}

.card-price{
  font-weight: 700;
  margin: 15px auto 10px;
  font-size: 1.3rem;
}

/* --- title --- */

.title{
}

.title::after{
  content: "";
  margin: 10px 0 0 0;
  height: 6px;
  display: flex;
  width: 53vw;
  background-color: var(--color4);
}

/* --- footer --- */

.footer-container{
  background-color: var(--color1);
}

.footer-links-container{
  margin: auto;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
}

.footer-links{
  text-decoration: none;
  color: var(--color2);
  margin: 0.5rem 20px;
  font-weight: 300;
  text-align: center;
}

/* LOGIN */

.login-container{
  position: relative;
  margin: auto;
  height: 100vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.login-container-logo{
  display: flex;
  margin: 0 0 30px 0;
}

.login-container-form{
  height: fit-content;
  margin: 0 auto;
  border: 1px solid #dee2e6;
  border-radius: 15px;
  padding: 20px 25px 30px;
  text-align: center;
}

.login-title{
  font-weight: 600;
}

.login-form{
  display: flex;
  flex-direction: column;
}

.login-input-container{
  position: relative;
  margin: 5px 0;
}

.form-control:focus{
  box-shadow: none !important;
  border: 1px solid var(--color4) !important;
}

.login-label{
  display: flex;
  position: relative;
  top: 12px;
  left: 30px;
  width: fit-content;
  padding: 0 5px;
  background-color: var(--color2);
}

.login-text{
  text-decoration: none;
  font-size: 0.8rem;
  margin: 20px auto 0;
  display: flex;
}

/* DETAILS */

.details-subtitle{
  margin: 0 auto 20px;
}

.details-info-container{
  margin: 30px auto;
}

.details-info-item{
  margin: 10px auto;
  color: var(--color1);
  font-weight: 600;
}

.details-img-container{
  height: fit-content;
}

.details-img{
  display: flex;
  height: 100%;
  margin: auto;
}

.details-price{
  margin: 15px auto;
  text-align: center;
  font-size: 1.2rem;
}

/* ERROR 404 */

.error404-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.error404-title{
  font-size: 3.5rem;
  margin: 80px auto 0;
  text-align: center;
  font-weight: 600;
  color: var(--color1);
}

.error404-content-container{
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.error404-info-container{
  margin: 0 auto;
  font-size: 1.4rem;
}

.error404-list-container{
}

.error404-img-container{
  margin: auto;
}

/* PROFILE */

.profile-info-container{
  background-color: var(--color7);
  font-weight: 600;
  padding: 1rem 0;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.profile-user-container{
  display: flex;
  margin: 1rem 2rem 1rem;
}

.profile-user{
  margin: auto 1rem;
  font-size: 1.4rem;
}

.profile-user-icon{
  margin: auto 0;
  color: var(--color1);
}

.profile-links-container{
  display: flex;
  margin: 0.5rem 1rem;
  font-weight: 500;
  cursor: pointer;
}

.profile-links{
  margin: 0.8rem 0;
}

.profile-links-icon{
  margin: auto 1rem;
  color: var(--color3);
}

.profile-profileField-container{
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-inputs-container{
  margin: 1rem auto;
}

.profile-input{
  margin: 1.5rem auto;
}

.profile-button-container{
  margin: 0 auto;
}

.profile-ham-mobile{
  position: absolute;
  right: 0;
  color: var(--color1);
  padding: 0.5rem;
  z-index: 100;
  font-size: 1.2rem;
}

.profile-info-container-mobile{
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: var(--color7);
}