:root{
  --color1: #2e2b74;
  --color2: #ffffff;
  --color3: #a8a6cb;
  --color4: #ffb500;
  --color5: #d9d9d9;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  font-family: 'Inter', sans-serif;
}

/* COMPONENTS */

/* buttons */

.btn-orange{
  background-color: var(--color4);
  border: none;
  padding: 10px 30px;
  border-radius: 15px;
  font-weight: 600;
  font-size: 1.1rem;
  margin: auto;
}

.btn-violet{
  background-color: var(--color3);
  border: none;
  padding: 10px 30px;
  border-radius: 15px;
  font-weight: 600;
  font-size: 1.1rem;
  margin: auto;
}

/* navbar */

.navbar-container {
  background-color: var(--color1);
  justify-content: space-between;
  display: flex;
  padding: 0 20px;
  height: 90px;
}

.navbar-container-logo{
  width: 20%;
  margin: 10px 0;
  display: flex;
}

.navbar-logo{
  width: 100%;
  display: flex;
  object-fit: contain;
}

.navbar-container-search{
  display: flex;
  margin: auto;
  justify-content: center;
  
}

.navbar-inputSearch{
  background-color: var(--color5);
  width: 100%;
  border: none;
  margin: auto;
  border-radius: 10px;
  padding: 9px 10px;
}

.navbar-inputSearch:focus{
  outline: none;
}

.navbar-inputSearch:focus + .navbar-inputSearch-icon{
  opacity: 0;
}

.navbar-inputSearch-icon{
  color: var(--color1);
  position: relative;
  display: flex;
  height: fit-content;
  width: fit-content;
  top: 10px;
  right: 30px;
  font-size: 1.2rem;
  transition: all 0.3s ease-in-out;
}

.navbar-container-links{
  width: 20%;
  display: flex;
  margin: auto;
  justify-content: center;
}

.navbar-link{
  text-decoration: none;
  color: var(--color2);
  margin: auto 10px;
  font-size: 1.4rem;
}

.navbar-cart{
  color: var(--color2);
  margin: auto;
  display: flex;
  font-size: 1.6rem;
}

.navbar-block{
  display: flex;
  background-color: var(--color3);
}

.navbar-sublink{
  text-decoration: none;
  color: var(--color2);
  font-weight: 600;
  margin: 0 0 0 3.5rem;
  font-size: 1.3rem;
}

.navbar-sublink:hover{
  color: var(--color1);
}

/* card */

.card-container{
}

/* title */

.title{
}

.title::after{
  content: "";
  margin: 10px 0 0 0;
  height: 6px;
  display: flex;
  width: 53vw;
  background-color: var(--color4);
}

/* LOGIN */

.login-container{
  position: relative;
  margin: auto;
  height: 100vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.login-container-logo{
  display: flex;
  margin: 0 0 30px 0;
}

.login-container-form{
  height: 60vh;
  margin: 0 auto;
  border: 1px solid #3e3e3e50;
  border-radius: 20px;
  padding: 20px 25px;
  text-align: center;
}

.login-form{
  display: flex;
  height: 90%;
  flex-direction: column;
}

